@import './index/header.css';
@import './index/hero.css';
@import './index/teaser.css';
@import './posts/post-page.css';
@import './index/form.css';
@import './index/footer.css';

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 10px;
    font-family: Nunito, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #d4d4d4;
    color: black;
}

.wrapper {
    max-width: 768px;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

main .wrapper {
    display: grid;
}
