body {
    font-size: 10px;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
    max-width: 864px;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header {
    display: inline-flex;

}