body {
    font-size: 10px;
    font-family: Nunito, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #d4d4d4;
    color: black;
}

.wrapper {
    max-width: 864px;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    height: 6em;
}

.header__title {
    font-size: 2em;
}

.header__filler {
    flex: 1 1 auto;
}

.header__list {
    display: inline-flex;
    font-size: 1.6em;
}

.header__item {
    padding-left: 1em;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}