html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 10px;
    font-family: Nunito, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #d4d4d4;
    color: black;
}

.wrapper {
    max-width: 768px;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    margin-right: auto;
    margin-left: auto;
}

/* HEADER */

.header {
    height: 6em;
    box-shadow: 2px 2px 2px grey;
}

.header .wrapper {
    display: flex;
    align-items: center;
}

.header__title {
    font-size: 2em;
}

.header__filler {
    flex: 1 1 auto;
}

.header__list {
    display: inline-flex;
    font-size: 1.8em;
}

.header__item {
    padding-left: 1em;
}

header li,
.share li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* MAIN */

main .wrapper {
    display: grid;
}

/* hero */

.hero {
    padding-inline-start: 1.5em;
    padding-inline-end: 1.5em;
}

.hero__title {
    font-size: 5.7em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.hero__description {
    font-size: 2.2em;
    margin-block-start: 0;
}

/* teaser */

.blog-teaser__headline {
    font-size: 2.2em;
}

.blog-teaser__card {
    background-color: #f4f4f4;
    border-radius: 1em;
    margin-block-end: 2em;
    padding: 1em 1em;
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: none;
    box-shadow: 3px 3px 3px grey;
}

.blog-teaser__card:hover {
    transform: translate(0, -5px);
    box-shadow: 3px 5px 5px grey;
}

.blog-teaser__card img {
    margin-right: 1em;
    border-radius: 1em;
    flex: 1;
}

.blog-teaser__content {
    flex: 2;
}

.blog-teaser__title {
    font-size: 1.5em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.blog-teaser__text {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

/* POST PAGE */

.blog-post__title {
    font-size: 4.6em;
    text-align: center;
}

.blog-post__author {
    display: grid;
    grid-template-areas:
        "a a b b b b"
        "a a c c c c";
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    align-content: center;
    font-size: 1.2em;
}

.blog-post__author i {
    grid-area: a;
    align-self: center;
    justify-self: end;
}

.author-name {
    grid-area: b;
    align-self: end;
    margin-bottom: 0;
}

.author-bio {
    grid-area: c;
    align-self: start;
    margin-top: 0;
}

article .wrapper {
    max-width: 700px;
    align-self: center;
    display: block;
    padding-inline-end: 1em;
}

.blog-text {
    font-size: 1.8em;
    word-wrap: break-word;
}

.share__list {
    display: flex;
    justify-content: space-evenly;
    padding-inline-start: 0;
    padding-block-start: 1em;
    padding-block-end: 1em;
}